:root {

    --colorPrincipal: #f76666;
    --colorSecundario: #02052f;
    --fuentePrincipal: 'Open sans', sans-serif;
    --fuenteBotones: 'DinBold', sans-serif;
}


html {
    font-size: 62.5%;

}

body {

    font-size: 16px;
    

}




.bannerPrincipal {
    background-image: url(../img/baner.png);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 180px;
}

.contenedor {
    max-width: 90%;
    margin: 0 auto;
}


.margenDerecho {
    margin-right: 35%;
}



.tituloPrincipal {
    background: rgba(248, 102, 102, 0.65);
    margin-bottom: 10px;
    display: block;
    font-weight: 800;
    padding: 35px;
    color: #fff;
    font-family: var(--fuentePrincipal);
    font-size: 4.5rem;
}

.bannerPrincipal a {

    color: white;
    background-color: black;
    border: 2px solid black;
    padding: 24px 94px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuenteBotones);
    font-size: 1.4rem;
    font-weight: 700;

}

.flexMain {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.red {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -120px;
    border-radius: 12px;
}

.cursos > h3 {

    text-align: center;
    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 40px 0px;

}

.cursos > h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);

}


.botonesCursos {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 105px;
    margin-top: 50px;
}

.botonesCursos a {

    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 13px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid var(--colorPrincipal);
    margin-right: 0.5rem;
    margin-left: 0.5rem;


}

.vertodo {

    color: white !important;
    background-color: var(--colorPrincipal);

}


.inscribirse {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex:2;
    padding: 40px 60px;
    font-family: var(--fuentePrincipal);

}

.inscribirse >div{

max-width: 50%;
flex:2;
background-size: cover;
background-repeat: no-repeat;
background-position: right;
padding: 40px 60px;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 300px;
}

.inscribirse > div >h2{

color: #fff;
background-size: cover;
background-repeat: no-repeat;
background-position: right;
border-color: #fff;
display: flex;
font-weight: bold;
font-size: 2.7rem;
text-transform: uppercase;

}

.inscribirse a{

color: var(--colorPrincipal);
background-color: white;
font-size: 1.4rem;
border: 2px solid white;
text-decoration: none;
text-transform: uppercase;
font-weight: 700;
padding: 20px 60px;
display: inline-block;


}

.inscribirse a:hover{

background-color: var(--colorPrincipal);
color: #fff;


}

.marketing {

    background-image: url(../img/marketing.png);
   margin-right: 15px;
   
}


.videojuegos{

    background-image: url(../img/videojuegos.png);
 margin-left: 15px;
   
}

.pidelo{

display: flex;
flex-direction: column;
justify-content: center;
padding: 20px;
padding-left: 35px;
padding-right: 35px;
margin-bottom: 22px;
margin-left: 20%;
margin-right: 20%;
max-width: 1140px;
text-transform: uppercase;
text-decoration: none;
font-family: var(--fuentePrincipal);
font-size: 1.4rem;
}

.pidelo h3{

text-align: center;
font-weight: 800;
line-height: 1.2;
}

.pidelo a{

text-align: center;
background-color: var(--colorPrincipal);
color: #fff;
font-weight: 700;
float: none;
padding: 25px;
border-radius: 96px;
margin: 20px 220px;
display: inline-block;
border: 2px solid white;
text-decoration: none;
}

.pidelo a:hover{

background-color: var(--colorSecundario);
text-decoration: underline;
}


.video{

display: block;
position: relative;
padding-bottom: 450px;
padding-top: 100px;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 150px;


}

.video iframe{

width: 100%;
height: 100%;
position: absolute;
}

.secciontexto{

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}


.texto{

display: flex;
flex-direction: column;
justify-content: left;
margin-left: 5%;
margin-right: 3%;
max-width: 50%;
line-height: 1.5;
}

.cuando{

font-size: 1.3rem;
text-transform: none;
font-family: var(--fuentePrincipal);
font-weight: 100;
text-align: left;
display: block;

}

.paraquien{

    text-align: center;
    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 40px 0px;


}

.siquieres{

    color: #02052f;
    font-weight: 800;
    font-size: 2.1rem;
    font-family: var(--fuentePrincipal);
}
 

.descarga{

    color: #02052f;
    font-weight: 800;
    font-size: 1.2rem;
    font-family: var(--fuentePrincipal);
    margin-bottom: 1.5rem;
   text-align: left;

}

.descargar{

text-align: center;
background-color: var(--colorPrincipal);
color: #fff !important;
font-weight: 700;
font-size: 1.4rem;
float: none;
padding: 20px 40px;
display: inline-block;
border: 2px solid white;
text-decoration: none !important;
font-family: var(--fuenteBotones);
align-items: center;
margin-right: 30%;
}

.descargar:hover{

    color:#f76666 !important;
    background-color: white;
    text-decoration: underline;
    border-color: #f76666;
    }
    

.texto a{

color: #f76666;
font-size: 1.3rem;
font-weight: 700;
margin-bottom: 5rem;
display: block;
text-decoration: underline;
font-family: var(--fuentePrincipal);
text-transform: uppercase;

}

.localizaciones {

    background-color: black;
    color: white;
    padding: 90px 100px;
    background-size: cover;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    margin-left: -100px;
    margin-right: -100px;
}

.bin h2{

margin-bottom: 70px;

}

.madrid{
display: block;
margin-right: 75%;

}

.madrid h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.madrid p{

font-size: 1.3rem;
font-weight: 200;
text-transform: uppercase;
margin-top: 0;

}

.alineados{

    margin: 0px 40px;
}

.alineados h3{

font-family: var(--fuentePrincipal);
font-weight: 100;

}

.contactar{

    background-color: var(--colorPrincipal);
    color: white;
    padding: 90px 100px;
    background-size: cover;
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    margin-left: -100px;
    margin-right: -100px;
    font-size: 1.4rem;
    margin-bottom: 30px;
    

}

.contacto{
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: left;
max-width: 50%;


}

.contacto >div{

    max-width: 50%;
    flex: 1;
}

.llamanos{

margin-left: 2rem;
max-width: 50%;
flex: 1;

}

.llamanos p{

margin-bottom: 5px; 
}

.llamanos a{

    margin-bottom: 20px;
    color: #f76666;
    font-size: 1.2rem;
    text-decoration: none;
}

.llamanos a:hover{
text-decoration: underline;

}

.tlf{

display: flex;
flex-direction: row;
background-color: white;
color: #02052f;
padding-right: 300px;
padding-left: 20px;
border-radius: 0.55rem;
align-items: center;
font-family: var(--fuentePrincipal);
font-size: 1.3rem;
height: 100px;
padding-bottom: 10px;
margin-top: 20px;
flex: 1;
}

.email{

    display: flex;
    flex-direction: row;
    background-color: white;
    color: #02052f;
    padding-left: 20px;
    padding-right: 200px;
    border-radius: 0.55rem;
    align-items: center;
    font-family: var(--fuentePrincipal);
    font-size: 1.3rem;
    height: 100px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-right: 5px;
margin-left: 4rem;
}

.escribenos{

margin-left: 2rem;


}


.escribenos p{

    margin-bottom: 5px; 
    }
    
    .escribenos a{
    
        margin-bottom: 20px;
        color: #f76666;
        font-size: 1.2rem;
        text-decoration: none;
    }
    
    .escribenos a:hover{
    text-decoration: underline;
    
    }

h4{

    color: #02052f;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-right: 5%;
    margin-top: 30px;

}

.footer{

display: flex;
flex-direction: column;
justify-content: left;
margin-top: 500px;

}

.sobrenosotros{

display: flex;
width: 50%;
justify-content: space-around;

margin-bottom: 30px;

}

.sobrenosotros h3{

    font-family: var(--fuentePrincipal);
    color: var(--colorSecundario);
    font-weight: 800;
    font-size: 1.5rem;


}

.politicas{


display: flex;
border-top: 1px solid black;
border-bottom: 1px solid black;
margin: 0px 40px;
margin-bottom: 50px;

}


.politicas a{

    color: var(--colorSecundario);
    font-size: 1.5rem;
    font-weight: 100;

}


.enlace{

margin: 20px;

}

span{

font-weight: 800;

}


.bin {

    color: white;
    max-width: 90%;
    margin: 0 auto;
}



/* 

.seccionprueba h5{

color: white;
background-color: blue;
}

#projo{
color: white;
background-color: red;

}

.seccionprueba h3{
    
    color: white;
    background-color: green;


}

/*selector de clase*/
/* .h3{

text-align: center;
text-transform: uppercase;
color: red;
font-size: 3rem;

}
/*selector de id*/
/*
#rojo{

    text-align: center;
    text-transform: uppercase;
    color: red;
    font-size: 3rem;
    
}

/*selector de elemento*/
/* 
h6{

font-style: italic;

}


.seleccionejercicio p{

font-family: cursive;

}



/*selector de atributo*/
/* 
[src="/img/adecco.png"]{

background-color: black;   

} */

/*selector multiple*/
/*     
#rojo , [src="/img/adecco.png"]{

    background-color: blue;

} */

/*selector todos los hijos*/
/* 
.seccionejercicio{

    color: red;
    text-transform: uppercase;
    font-family: cursive;
    }   */