html {
    font-size: 62.5%;
    

}



body {

    font-size: 16px;
    background-color:  rgb(231, 210, 252) !important;
   

}




.secciones {

    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;



}

.secciones1 {

  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
margin-left: 20px;


}

.secciones{

  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;


}

.secciones a{

  font-size: small;
  text-decoration: none;
  color: black;
  font-weight: 700;
  float: none;
  padding: 15px;
  border-radius: 50px;
  display: inline-block;
  border: 2px solid  rgb(231, 210, 252) ;


}

.secciones1 a {

    font-size: small;
    text-decoration: none;
    color: black;
    font-weight: 700;
    float: none;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    border: 2px solid  rgb(231, 210, 252) ;
  
}

.secciones a:hover {

  text-decoration: underline;
  color: blueviolet ;
  background-color: white;
}

.secciones1 a:hover {

    text-decoration: underline;
    color: blueviolet ;
    background-color: white;
}

.fotoprincipal{

    background-image: url(./img/home.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: fit-content;
    padding: 250px;
    padding-right: 77px;
    padding-left: 257px;
    border: 2px solid black;
    
    }
    
    .segundafoto{
    
        background-image: url(./img/home2.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        height: fit-content;
        padding: 250px;
        padding-right: 77px;
        padding-left: 257px;
        border: 2px solid black;
        
        
    }
    
    .textofoto{
    
        display: flex;
        justify-content: center;
      align-items: center;
        width: 100%;
     margin-top: 5%;
     margin-left: 5%;
  
    }
    
    
    
    .textofoto h2{
    
    font-size: 2rem;
    margin-left: 2%;
    margin-right: 2%;
    
    }




/* pagina modelling */

.MODELLING{

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
margin: 7%;
margin-top: 5%;
}

.MODELLING > div{

display: flex;
justify-content: center ;
align-items: center;
height: 50rem;
}

.margen{

 margin-right: 25px;

}

.margen1{

margin-left: 40px !important;

}

.seccion1{

background-image: url(./img/pola8.jpg);
background-size: cover;
background-repeat: no-repeat;
grid-column: 1/3;
border: 2px solid black;
font-size: 40px;
text-shadow: 3rem;

}

.seccion1 a{

text-decoration: none;
color: black;
}

.seccion1 a:hover{

color: blueviolet;
text-decoration: underline;

}

.seccion2{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style:italic;

  
  }


.seccion{
    background-image: url(./img/pola7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
grid-column: 4/6;
border: 2px solid black;
font-size: 40px;
text-shadow: 3rem;


}


.seccion:hover{

transform: scale(1.1);
opacity: 0.5;

}

.seccion1:hover{

    transform: scale(1.1);
    opacity: 0.5;
    
    }


.polas{

margin-top: 7%;

}

#carouselExample{

margin-left: 35%;
margin-right: 35%;
}

.visual{

color: black !important;

}

.titulo{

align-items: center !important;
justify-content: center !important;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;

}



.contact_form{	
	width: 460px; 
  height: auto;
  margin-top: 80px;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
  margin-left: 40px;
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 10px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ab4493; 
	border-color: #ab4493; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}


button p{
	color: #fff; 
}


span{
	color: #ab4493; 
}


#enviar:hover{


  transform: scale(1.1);
  opacity: 0.5;
  

}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


.contact{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #ab4493;
}

.redessociales{

display: flex;
flex-direction: row;
justify-content: space-evenly;
margin: 50px;
width: 100%;
}




.info{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.info img:hover{

  
transform: scale(1.1);
opacity: 0.5;

}


.mail{

text-decoration: none;
color: #0e0e0e;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.mail:hover{

text-decoration: underline;
color: red;

}

.header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

.header h1 {

  font-size: 50px !important;
  font-family: sans-serif !important;
 margin-left: 20px;

}


  
.conjunto{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.contenedor {
  max-width: 90%;
  margin: 0 auto;
}

.borde {

    border: 1px solid black;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 100%;
}